*.~
*.so
.DS_Store
*.log
dist/
html/
build/
*.pyc
docs/Makefile
PyCBC.egg-info/
pycbc/events/eventmgr_cython.cpp
pycbc/events/simd_threshold_cython.cpp
pycbc/fft/fftw_pruned_cython.cpp
pycbc/filter/matchedfilter_cpu.cpp
pycbc/filter/simd_correlate_cython.cpp
pycbc/inference/models/relbin_cpu.cpp
pycbc/types/array_cpu.cpp
pycbc/vetoes/chisq_cpu.cpp
pycbc/waveform/decompress_cpu_cython.cpp
pycbc/waveform/spa_tmplt_cpu.cpp
pycbc/waveform/utils_cpu.cpp
