# requirements for most basic library use
astropy>=2.0.3,<3.0.0; python_version <= '2.7'
astropy>=2.0.3; python_version >= '3.0'
Mako>=1.0.1
decorator>=3.4.2
scipy>=0.16.0; python_version >= '3.5'
scipy>=0.16.0,<1.3.0; python_version <= '3.4'
matplotlib>=2.0.0
numpy>=1.16.0,<1.19; python_version >= '3.5'
numpy>=1.16.0,<1.17.0; python_version <= '3.4'
pillow
h5py<2.10.0
jinja2
mpld3>=0.3
requests>=1.2.1
beautifulsoup4>=4.6.0
six>1.10.0
cython
lalsuite
lscsoft-glue>=1.59.3
ligo-segments
tqdm
gwdatafind

# Requirements for ligoxml access needed by some workflows
python-ligo-lw

# Needed for Parameter Estimation Tasks
emcee==2.2.1
dynesty
epsie>=0.6

# For LDG service access
dqsegdb
dqsegdb2>=1.0.1
https://github.com/ahnitz/pegasus-wms-python3/archive/master.tar.gz
amqplib

# For building documentation
Sphinx>=1.5.0,<2.0.0
sphinx-rtd-theme
sphinxcontrib-programoutput>=0.11
