# requirements for most basic library use
astropy>=2.0.3,!=4.2.1,!=4.0.5
Mako>=1.0.1
scipy>=0.16.0
matplotlib>=2.0.0
numpy>=1.16.0,!=1.19.0,!=2.2.2
pillow
h5py>=3.0.0,!=3.7.0
jinja2
mpld3>=0.3
beautifulsoup4>=4.6.0
cython
lalsuite!=7.2
lscsoft-glue>=1.59.3
igwn-segments
tqdm
gwdatafind>=1.1.3

# Requirements for full pegasus env
# https://pegasus.isi.edu/documentation/user-guide/installation.html#mixing-environments-system-venv-conda
# six is listed, but is now not needed.
pegasus-wms >= 5.1.1
pegasus-wms.api >= 5.1.1
pegasus-wms.common >= 5.1.1
pegasus-wms.worker >= 5.1.1
boto3
certifi
GitPython
pyjwt
pyyaml
s3transfer
urllib3

# need to pin until pegasus for further upstream
# addresses incompatibility between old flask/jinja2 and latest markupsafe
markupsafe <= 2.0.1

# Requirements for LIGO Light-Weight XML format access needed by some workflows
igwn-ligolw

# Needed for Parameter Estimation Tasks
emcee==2.2.1
dynesty<3.0

# For building documentation
# FIXME Unpin this!
Sphinx>=4.2.0,<8.2.0
sphinx-carousel
sphinx-rtd-theme>=1.0.0
sphinxcontrib-programoutput>=0.11
sphinx_design

# Needed for ringdown and time-domain injection (fix wrap-around issue for SMBHB)
pykerr
