# requirements for most basic library use
Mako>=1.0.1
argparse>=1.3.0
decorator>=3.4.2
scipy>=0.13.0
unittest2
matplotlib>=1.3.1
numpy>=1.6.4
pillow
h5py>=2.5
jinja2
mpld3>=0.3
pyRXP>=2.1.0
pycbc-glue-obsolete==1.1.0
weave

# Needed for Parameter Estimation Tasks
kombine
emcee>=2.2.0
corner>=2.0.1

# For LDG service access
http://download.pegasus.isi.edu/pegasus/4.7.3/pegasus-python-source-4.7.3.tar.gz
git+https://github.com/ligovirgo/dqsegdb@clean_pip_install_1_4_1#egg=dqsegdb

# For building documentation
Sphinx>=1.4.2
sphinx-rtd-theme
git+https://github.com/ligo-cbc/sphinxcontrib-programoutput.git#egg=sphinxcontrib-programoutput

pycbc
