name: compress waveforms into a bank using pegasus + condor

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 90
    steps:
    - uses: actions/checkout@v1
    - name: Load defaults
      id: defaults
      uses: ./.github/actions/defaults
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ steps.defaults.outputs.python_version }}
    - name: Install condor & pegasus
      uses: ./.github/actions/install-htcondor-pegasus
    - name: Install system dependencies
      uses: ./.github/actions/install-system-deps
    - name: Install pycbc
      run: |
        python -m pip install --upgrade pip setuptools
        pip install GitPython # This shouldn't really be needed!
        pip install -r requirements.txt
        pip install .
    - name: installing sbank
      run: |
        pip install sbank
    - name: generating template bank
      run: bash -e examples/search/bank.sh
    - name: running workflow
      run: |
        cp examples/tmpltbank/compress_workflow/*.ini ./
        bash -e examples/tmpltbank/compress_workflow/gen.sh
        cd output
        python ../examples/search/check_job.py
        find submitdir/work/ -type f -name '*.tar.gz' -delete
    - name: store log files
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: logs
        path: output/submitdir/work
    - name: store result page
      uses: actions/upload-artifact@v4
      with:
        name: results
        path: html
