name: basic tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 60
      matrix:
        os: [ubuntu-24.04]
        python_version: ['3.11', '3.12', '3.13']
        test-type: [unittest, search, docs]
    steps:
    - uses: actions/checkout@v4
    - name: Populate caches (LAL aux + example GW data)
      id: populate
      uses: ./.github/actions/populate-caches
    - name: Expose LAL_DATA_PATH to subsequent steps
      run: echo "LAL_DATA_PATH=${{ steps.populate.outputs.lal_data_path }}" >> $GITHUB_ENV
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
    - name: installing system packages
      uses: .github/actions/install-system-deps
    - name: Install python dependencies
      run: |
        pip install tox pip setuptools --upgrade
    - name: run pycbc test suite
      run: |
        tox -e py-${{matrix.test-type}}
    - name: check help messages work
      if: matrix.test-type == 'unittest'
      run: |
        tox -e py-help
    - name: run inference tests
      if: matrix.test-type == 'search'
      run: |
        tox -e py-inference
    - name: store documentation page
      if: matrix.test-type == 'docs' && matrix.python_version == '3.12'
      uses: actions/upload-artifact@v4
      with:
        name: documentation-page
        path: _gh-pages
  deploy_documentation:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    steps:
    - name: retrieve built documentation
      uses: actions/download-artifact@v4.1.7
      with:
        name: documentation-page
    - name: debug
      run: |
        mkdir _gh-pages
        mv latest _gh-pages
    - name: deploying to gh-pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: _gh-pages
        SINGLE_COMMIT: true
