name: basic tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  workflow_defaults:
    uses: ./.github/workflows/workflow-defaults.yml

  build:
    needs: workflow_defaults
    runs-on: ${{ matrix.os }}
    env:
      LAL_DATA_PATH: ${{ needs.workflow_defaults.outputs.lal_data_path }}
    strategy:
      max-parallel: 60
      matrix:
        os: [ubuntu-24.04]
        python-version: ['3.11', '3.12', '3.13']
        test-type: [unittest, search, docs]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: installing system packages
      run: |
        sudo apt-get -o Acquire::Retries=3 update
        sudo apt-get -o Acquire::Retries=3 install *fftw3* mpi intel-mkl* graphviz
        pip install tox pip setuptools --upgrade
    # LAL and example GW data are provided by the reusable workflow `workflow-defaults`
    # and exposed via `needs.workflow_defaults.outputs.lal_data_path` and
    # `needs.workflow_defaults.outputs.example_gw_cache_key`.
    - name: run pycbc test suite
      run: |
        tox -e py-${{matrix.test-type}}
    - name: check help messages work
      if: matrix.test-type == 'unittest'
      run: |
        tox -e py-help
    - name: run inference tests
      if: matrix.test-type == 'search'
      run: |
        tox -e py-inference
    - name: store documentation page
      if: matrix.test-type == 'docs' && matrix.python-version == '3.12'
      uses: actions/upload-artifact@v4
      with:
        name: documentation-page
        path: _gh-pages
  deploy_documentation:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    steps:
    - name: retrieve built documentation
      uses: actions/download-artifact@v4.1.7
      with:
        name: documentation-page
    - name: debug
      run: |
        mkdir _gh-pages
        mv latest _gh-pages
    - name: deploying to gh-pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: _gh-pages
        SINGLE_COMMIT: true
