name: build the LVK virtualenv

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      -
        uses: actions/checkout@v1
      - name: Set release version environment variable
        if: startsWith(github.ref, 'refs/tags')
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
      - name: Update version file for release
        if: startsWith(github.ref, 'refs/tags')
        uses: ./.github/actions/update-version
        with:
          version: ${{ env.RELEASE_VERSION }}
          release: 'true'
      -
        env:
          OSG_ACCESS: "${{secrets.OSG_ACCESS}}"
        name: "Preparing ssh stuff"
        run: "bash -e tools/docker_build_prepssh.sh"
      -
        env:
          DOCKER_IMG: igwn/base:el8
          PYCBC_CONTAINER: pycbc_rhel_virtualenv
          DOCKER_SECURE_ENV_VARS: true
        name: "Creating the virtual environment"
        run: "bash -e tools/docker_build_and_test.sh"
