---
name: Flake8 check
on: [pull_request]
jobs:
  workflow_defaults:
    uses: ./.github/workflows/workflow-defaults.yml

    flake8_unused_imports:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository
              uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ needs.workflow_defaults.outputs.python_version }}
            - name: Install flake8
              run: pip install flake8
            - name: Checking executables for unused imports
              run: flake8 --select=F401 $(find bin -type f -name pycbc_*)
            - name: Checking modules for unused imports
              run: |
                flake8 --select=F401 $(find pycbc | grep '\.py$' | grep -v -e __init__ -e 'version.py')
            - name: Checking tests for unused imports
              run: |
                flake8 --select=F401 $(find test | grep '\.py$' | grep -v test_schemes)

