name: macos basic tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [macos-latest]
        python-version:
          - '3.10'
          - '3.11'

    # this is needed for conda environments to activate automatically
    defaults:
      run:
        shell: bash -el {0}

    steps:
    - uses: actions/checkout@v1

    - name: Cache conda packages
      uses: actions/cache@v4
      env:
        # increment to reset cache
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-conda-${{ matrix.python-version}}-${{ env.CACHE_NUMBER }}

    - name: Configure conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: test
        channels: conda-forge
        miniforge-version: latest
        python-version: ${{ matrix.python-version }}

    - name: Conda info
      run: conda info --all

    - name: Install tox
      run: |
        conda install \
            pip \
            "setuptools<82.0.0" \
            tox

    - name: Run basic pycbc test suite
      run: |
        tox -e py-unittest
