name: run small template bank generation using pegasus + condor

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v1
    - name: Load defaults
      id: defaults
      uses: ./.github/actions/defaults
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ steps.defaults.outputs.python_version }}
    - name: Install condor & pegasus
      uses: ./.github/actions/install-htcondor-pegasus
    - name: Install system dependencies
      uses: ./.github/actions/install-system-deps
    - name: Install pycbc
      run: |
        python -m pip install --upgrade pip setuptools
        pip install GitPython # This shouldn't really be needed!
        pip install -r requirements.txt
        pip install sbank
        pip install .
    - name: generating, submitting and running workflow
      env:
          _CONDOR_DAGMAN_USE_STRICT: "0"
      run: |
        cp examples/tmpltbank/bank_workflow_test/*.ini ./
        bash -e examples/tmpltbank/bank_workflow_test/gen.sh
        condor_status
        cd output
        ./status
        python ../examples/search/check_job.py
        find submitdir/work/ -type f -name '*.tar.gz' -delete
    - name: store log files
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: logs
        path: output/submitdir/work
