name: tutorial tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 60
      matrix:
        os: [ubuntu-24.04]
        python_version: ['3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install system dependencies
      uses: ./.github/actions/install-system-deps
    - name: installing python packages
      run: |
        pip install tox pip setuptools notebook --upgrade
        pip install .
    - name: retrieving pycbc tutorials
      run: |
        git clone https://github.com/gwastro/PyCBC-Tutorials
    - name: running pycbc tutorials
      run: |
        cd PyCBC-Tutorials
        ./test_notebooks
