name: run generic example workflow tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 60
      matrix:
        os: [ubuntu-24.04]
        test-type: [simple_subworkflow_data, multilevel_subworkflow_data]
    steps:
    - uses: actions/checkout@v1
    - name: Load defaults
      id: defaults
      uses: ./.github/actions/defaults
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ steps.defaults.outputs.python_version }}
    - name: Install condor & pegasus
      uses: ./.github/actions/install-htcondor-pegasus
    - name: Install system dependencies
      uses: ./.github/actions/install-system-deps
    - name: Install pycbc
      run: |
        python -m pip install --upgrade pip setuptools
        pip install GitPython # This shouldn't really be needed!
        pip install -r requirements.txt
        pip install .
    - name: running workflow
      run: |
        cd examples/workflow/generic/${{matrix.test-type}}
        bash -e run.sh
        python ../../../../examples/search/check_job.py
        find submitdir/work/ -type f -name '*.tar.gz' -delete
    - name: store log files
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: logs-${{matrix.test-type}}
        path: examples/workflow/generic/${{matrix.test-type}}/submitdir/work
